.cardAbout {
    margin: 1.9px !important;
    height: 600px !important;
    width: 100% !important;
}

.container {
    display: flex;
    direction: initial;
    justify-content: 'center' !important;
    align-items: 'center' !important;
    padding: 100px;
}

.titulo {
    color: #002e4f;
}