.cardAbout {
    margin: 30px !important;
    height: 600px !important;
    width: 800px !important;
}

.container {
    display: flex;
    direction: initial;
    justify-content: 'center' !important;
    align-items: 'center' !important;
    padding: 100px;
}

.titulo {
    color: #002e4f;
}
.aboutH1{
    font-size: 50px!important;
    padding: 40px;
}