.imagemLogin {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none !important;
}

.spaceTop {
    background-color: white !important;
    border: 20px !important;
    border-radius: 10px !important;
    background-color: rgba(255, 255, 255, 0.02) !important;
    ;
}

.formsLogin {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px !important;
    width: 30vw !important;
}

.background {
    background: url(https://i.imgur.com/9nNR0zp.jpg) no-repeat cover !important;
    /* background-size: cover; */
    height: 100vh !important;
    background-attachment: fixed;
}

.test {
    font-size: 13px !important;
}

.textos1 {
    color: #000000 !important;
}