.textos1 {
    font-weight: bold !important;
}

.imagem {
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(120vh-35px);
    background-size: cover;
    background-position: center;
}