/* .card {
    display: flex;
    justify-content: space-between!important;
    width: 95vw!important;
    height: auto!important;
    justify-content: center;
    border-radius: 10px !important;
} */