.tituloTema {
    font-weight: bold !important;
}


/* .card {
    display: flex;
    justify-content: space-between!important;
    width: 95vw!important;
    height: auto!important;
    justify-content: center;
    border-radius: 10px !important;
} */

.text-decorator-none {
    text-decoration: none;
}

.avatar {
    display: flex;
    justify-content: space-between;
    border-radius: 20px !important;
}

.usuario {
    display: flex;
    direction: row;
    align-items: top;
    justify-content: center;
    padding-right: 20px!important;
    border-radius: 10px !important;
}

.usuarioNome {
    padding-right: 20px!important;
}

.botaoEsquerda {
    justify-content: end;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding: 20px!important;
}

.fotoAvatar {
    background-size: cover;
    padding: 10px, 0px, 10px, 0px!important;
}

.imgPost {
    max-width: 700px;
    /* min-width: none; */
    max-height: 500px;
    background-size: cover;
    border-radius: 30px;
}

.padRight {
    padding-right: 30px;
}

.paddingTop {
    padding-top: 20px;
    padding-left: 100px;
}

body {
    background-color: rgb(230, 248, 253) !important
}