    .cursor {
        cursor: pointer;
    }
    
    .btnModal {
        border-color: #002e4f !important;
        font-weight: bold !important;
        background-color: white !important;
        color: #002e4f !important;
    }