.box {
    background-color: #ffffff;
    display: flex !important;
}

.title {
    color: #002e4f !important;
    font-weight: bold !important
}

.botton {
    border-color: #002e4f !important;
    background-color: #ffffff;
    color: #002e4f !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

posts {
    background-color: #E0FFFF
}

.text-decorator-none {
    text-decoration: none !important;
}

.container {
    display: flex;
    direction: initial;
    justify-content: 'center' !important;
    align-items: 'center' !important;
    padding: 50px;
}

.cardHome {
    margin: 10px !important;
    height: 300px !important;
    width: 800px !important;
    box-shadow: 0px 0px 10px rgba(64, 105, 240, 0.9)!important;
    border-radius: 20px!important;
}

.hr {
    border: 1px solid #002e4f;
    border-radius: 5px;
    width: 90%;
}