.box {
    background-color: #ffffff;
    ;
}

.title {
    color: black !important;
    font-weight: bold !important
}

.botton {
    border-color: #002e4f !important;
    background-color: #E0FFFF;
    color: #002e4f !important;
    font-weight: bold !important
}

posts {
    background-color: #E0FFFF
}

.text-decorator-none {
    text-decoration: none !important;
    color: #ffffff !important;
}

.imagem {
    background-image: url(https://i.imgur.com/O0BGiXx.png) !important;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(120vh-35px);
    background-size: cover;
    background-position: center;
}