.box1 {
    background-color: #7794e9;
    height: 120px;
}

.box2 {
    background-color: #7794e9;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: #ffffff;
}

.textos {
    color: #ffffff
}