.box1 {
    background-color: #089fc0;
    height: 90px;
}

.box2 {
    background-color: #089fc0;
    height: 60px;
}

.redes {
    font-size: 40px !important;
    color: #ffffff;
}

.textos {
    color: #ffffff;
    text-decoration-style: bold !important;
}

.hover:hover {
    transform: scale(1.2);
}

.text-decorator-none {
    text-decoration: none;
}