.text-decorator-none {
    text-decoration: none !important;
    color: #ffffff !important;
}

.backgroundNav {
    font-variant: small-caps;
    color: aliceblue;
    background-color: #16243f;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    direction: center;
}
.logo1{
    width: 100px!important;
    height: 50px!important;
    border-radius: 10px;
    margin: 2px;
}

.cursor{
    cursor: pointer;
    color: #ffffff;
    
}