.text-decorator-none {
    text-decoration: none !important;
    color: #ffffff !important;
}

.backgroundNav {
    font-variant: small-caps !important;
    color: #ffffff !important;
    background-color: #042c4c !important;
    text-decoration: none !important;
    direction: center !important;
}

.logo1 {
    width: 60px !important;
    height: 60px !important;
    border-radius: 10px;
    margin: 2px;
}

.cursor {
    cursor: pointer;
    color: #ffffff;
}

.spaceLeft {
    margin-left: auto!important;
}