    .container {
        direction: 'row';
        justify-content: 'center';
        align-items: 'center';
        padding: '5px';
    }
    
    .btnCancelar {
        margin-right: 10px!important;
    }